/* Margin */
/* margin kanan kiri */
.m-kk3{
    margin: 0 3%;
}
.m-kk4{
    margin: 0 4%;
}
.m-kk5{
    margin: 0 5%;
}
.m-kk8{
    margin: 0 8%;
}
.m-kk10{
    margin: 0 10%;
}
.p-kk10{
    padding: 0 10%;
}
.p-ab2{
    padding-top: 2%;
    padding-bottom: 2%;
}
.p-ab5{
    padding-top: 5%;
    padding-bottom: 5%;
}
.p-ab15{
    padding-top: 15%;
    padding-bottom: 15%;
}
/* margin atas */

.m-a2{
    margin-top: 2%;
}
.m-a4{
    margin-top: 4%;
}
.m-a6{
    margin-top: 6%;
}
.m-a8{
    margin-top: 8%;
}
.m-a10{
    margin-top: 10%;
}
.m-a12{
    margin-top: 12%;
}
.m-a14{
    margin-top: 14%;
}
.m-a15{
    margin-top: 15%;
}

/* Margin bawah */
.m-b2{
    margin-bottom: 2%;
}
.m-b4{
    margin-bottom: 4%;
}
.m-b8{
    margin-bottom: 8%;
}
.m-b10{
    margin-bottom: 10%;
}
.m-b20{
    margin-bottom: 20%;
}
/* margin left */
.m-l2{
    margin-left: 2%;
}
.m-l4{
    margin-left: 4%;
}
.m-l20{
    margin-left: 20%;
}
.m-auto{
    margin: auto;
}
/* display flex*/
.flex{
    display: flex;
}
.jspaceA{
    justify-content: space-around;
}
.jspaceE{
    justify-content: space-evenly;
}

.f-left{
    float: left;
}
.f-right{
    float: right;
}
.ta-right{
    text-align: right;
}
.mw-530{
    max-width: 530px;
}